
@{
    /**/

    ViewBag.Title = "BannerGifts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<main class="main" ng-init="OpenModelInBanner()">

    <!-- Page Breadcrumb Start -->
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="/Home/Index" rel="nofollow">Home</a>
                <span></span> Banner Category
            </div>
        </div>
    </div>
    <!-- Page Breadcrumb End -->


    <section class="mt-50 mb-50">
        <div class="container">
            <div class="row flex-row-reverse gx-1 g-1">
                <div class="col-lg-12">
                    <div class="shop-product-fillter">
                        <div class="totall-product">
                            <p>Welcome to Gift Choice Bhilwara</p>
                        </div>
                        <div class="sort-by-product-area align-items-center">
                            <div class="sort-by-cover mr-10">
                                <div class="sort-by-product-wrap filter-button">
                                    <div class="sort-by" @*data-bs-toggle="modal" data-bs-target="#modalId"*@ ng-click="OpenModelInBannerFilter()">
                                        <span><i class="fa fa-filter fs-5" aria-hidden="true"></i><span class="m-none">Filter</span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex m-nowrap-1 align-item-center">
                                <div class="popup-filter">
                                    <ul class="list-filter size-filter font-small">
                                        <li>
                                            <a class="theme-button-3" href="#">Men's</a>
                                        </li>
                                        <li>
                                            <a class="theme-button-3" href="#">Women's</a>
                                        </li>
                                        <li class="active">
                                            <a class="theme-button-3" href="#">Boy's</a>
                                        </li>
                                        <li>
                                            <a class="theme-button-3" href="#">Girl's</a>
                                        </li>
                                        <li>
                                            <a class="theme-button-3" href="#">Kid's</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                                @*<div class="sort-by-cover">
                <div class="sort-by-product-wrap">
                    <div class="sort-by">
                        <span><i class="fi-rs-apps-sort"></i>Sort by:</span>
                    </div>
                    <div class="sort-by-dropdown-wrap">
                        <span> Featured <i class="fi-rs-angle-small-down"></i></span>
                    </div>
                </div>
               <div class="sort-by-dropdown">
                    <ul>
                        <li><a class="active" href="#">Featured</a></li>
                        <li><a ng-click="sortByPrice('asc')">Price: Low to High</a></li>
                        <li><a ng-click="sortByPrice('desc')">Price: High to Low</a></li>
                    </ul>
                </div>
            </div>*@
                            </div>
                        </div>
                    <div class="row product-grid-4 g-1 gx-1">
                        @*<div class="col-lg-3 col-6 col-sm-4" ng-repeat="p in ProductData | startFrom:(currentPage - 1) * pageSize | limitTo:pageSize">*@

                            <div class="col-lg-3 col-6 col-sm-4" ng-repeat="p in ProductData">
                                <div data-aos="zoom-in">
                                    <div class="product-cart-wrap">  @*(Animation for top rated / selling category - class="top-rated-product")*@
                                        <div class="product-img-action-wrap">
                                            <div class="product-img product-img-zoom">
                                                <a href="#">
                                                    <video ng-show="p.Video" width="100%" autoplay loop muted>
                                                        <source ng-src="{{'/images/ProductVideo/' + p.Video}}" type="video/mp4">
                                                    </video>
                                                </a>
                                                @*<iframe  ng-show="p.VideoUrl" ng-src="{{trustSrc('https://www.youtube.com/embed/' + p.VideoUrl +'?autoplay=1&loop=1&mute=1')}}" allow="loop"></iframe>*@
                                                @*<iframe ng-show="p.VideoUrl" id="iFrameName{{$index}}" allow="loop"></iframe>*@

                                                <a href="/Home/BGift?url={{p.PUrl}}" ng-show="!p.Video">
                                                    <img class="default-img img-fluid" src="~/images/ProductImg/{{p.ProductImage}}" loading="lazy" alt="product-image" loading="lazy" alt="">
                                                    <img class="hover-img img-fluid" src="~/images/ProductImg/{{p.ProductImage}}" loading="lazy" alt="product-hover-image" loading="lazy" alt="">
                                                </a>
                                            </div>
                                            <div ng-show="p.PLabel!=''" class="product-badges product-badges-position product-badges-mrg">
                                                <span class="hot">{{p.PLabel}}</span>
                                            </div>
                                        </div>
                                        <div class="product-content-wrap">
                                            <h2 class="mt-2"><a href="/Home/BGift?url={{p.PUrl}}">{{p.ProductTitle}}</a></h2>
                                            <div class="product-price">
                                                <span><i class="fa fa-inr" aria-hidden="true"></i> {{p.Price}}/-</span>
                                            </div>
                                            <div class="product-action-1 show">
                                                <a aria-label="Add To Cart" class="action-btn hover-up" ng-click="addItemToCart($index)"><i class="fi-rs-shopping-bag-add"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        @*<div class="tp-shop-pagination mt-20">
            <div class="tp-pagination">

                <div class="d-md-flex d-grid align-items-center gap-3">
                    <button type="button" ng-click="prevPage()" ng-disabled="currentPage === 1" class="btn-link">Previous</button>
                    <span ng-repeat="page in range(totalPages)">
                        <button type="button" ng-click="goToPage(page + 1)" ng-class="{ 'btn-link': currentPage !== (page + 1), 'btn-link-active': currentPage === (page + 1) }">{{ page + 1 }}</button>
                    </span>
                    <button type="button" ng-click="nextPage()" ng-disabled="ProductData.length < pageSize" class="btn-link">Next</button>
                </div>
            </div>
        </div>*@
                        @*<div class="tp-shop-pagination mt-20">
            <div class="tp-pagination pagination-btn-design">

                <div class="d-flex d-grid align-items-center gap-3">
                    <button type="button" ng-click="prevPage()" ng-disabled="currentPage === 1" class="pagination-button">Previous</button>

                    <span ng-repeat="page in range(totalPages)">
                        <button type="button" ng-click="goToPage(page + 1)" ng-class="{ 'btn-link': currentPage !== (page + 1), 'btn-link-active': currentPage === (page + 1) }">{{ page + 1 }}</button>
                    </span>
                    <button type="button" ng-click="nextPage()" ng-disabled="currentPage == totalPages" class="pagination-button">Next </button>

                </div>


            </div>

        </div>*@
                    </div>
            </div>
        </div>
    </section>


    <!-- Query Popup Start -->
    <div class="modal fade" id="modalId" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="title">
                        <h5>Welcome To Banner {{GetBannerAsk1Data[0].BannerTitle. MTitle}}</h5>
                    </div>
                </div>
                <div class="modal-body p-4">
                    <div class="content page-1">
                        <h5>{{GetBannerAsk1Data[0].AskQues1}}</h5>
                        <div class="selection mt-3">
                            <div class="radio-button-style">
                                <span ng-repeat="b in GetBannerAsk1Data" ng-show="GetBannerAsk2Data==null">

                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="AskQues1_{{b.QId}}" value="{{b.QId}}" ng-model="b.Selected">
                                    <label class="form-check-label mb-0" for="AskQues1_{{b.QId}}">{{b.Answer}}</label>
                                </span>

                                <a ng-click="GetBannerAllProduct()" class="form-check-label">
                                    View All

                                </a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <a href="/Home/index" type="button" class="btn-danger btn-sm">Back To Home</a>
                    <a href="#" type="button" class="btn btn-primary btn-sm" ng-click="modelTofilterBannerProduct()">Continue</a>



                </div>
            </div>
        </div>
    </div>
    <!-- Query Popup End -->

</main>

