
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="index.asp" rel="nofollow">Home</a>
                <span></span>Cart
            </div>
        </div>
    </div>

    <section class="mt-50 mb-50 cart-section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table text-center clean table-bordered cart-table">
                            <thead>
                                <tr class="main-heading">
                                    <th scope="col">#</th>
                                    <th scope="col">Image</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Subtotal</th>
                                    <th scope="col">Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td class="image product-thumbnail">
                                        <a href="product_detail.asp">
                                            <img src="https://dummyimage.com/200x200/ccc/000" alt="#" class="img-fluid rounded-2">
                                        </a>
                                    </td>

                                    <td class="product-des product-name" width="500">
                                        <h5 class="product-name">
                                            <a href="product_detail.asp">Product Name Here</a>
                                        </h5>
                                    </td>

                                    <td class="price">
                                        <span><i class="fa fa-inr" aria-hidden="true"></i>65.00 </span>
                                    </td>

                                    <td class="text-center">
                                        <div class="detail-qty border radius  m-auto">
                                            <a href="#" class="qty-down"><i class="fi-rs-angle-small-down"></i></a>
                                            <span class="qty-val">1</span>
                                            <a href="#" class="qty-up"><i class="fi-rs-angle-small-up"></i></a>
                                        </div>
                                    </td>

                                    <td class="text-right">
                                        <span><i class="fa fa-inr" aria-hidden="true"></i>65.00 </span>
                                    </td>

                                    <td class="action">
                                        <a href="#" class="text-danger"><i class="fi-rs-trash"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td class="image product-thumbnail">
                                        <a href="product_detail.asp">
                                            <img src="https://dummyimage.com/200x200/ccc/000" alt="#" class="img-fluid rounded-2">
                                        </a>
                                    </td>

                                    <td class="product-des product-name" width="500">
                                        <h5 class="product-name">
                                            <a href="product_detail.asp">Product Name Here</a>
                                        </h5>
                                    </td>

                                    <td class="price">
                                        <span><i class="fa fa-inr" aria-hidden="true"></i>65.00 </span>
                                    </td>

                                    <td class="text-center">
                                        <div class="detail-qty border radius  m-auto">
                                            <a href="#" class="qty-down"><i class="fi-rs-angle-small-down"></i></a>
                                            <span class="qty-val">1</span>
                                            <a href="#" class="qty-up"><i class="fi-rs-angle-small-up"></i></a>
                                        </div>
                                    </td>

                                    <td class="text-right">
                                        <span><i class="fa fa-inr" aria-hidden="true"></i>65.00 </span>
                                    </td>

                                    <td class="action">
                                        <a href="#" class="text-danger"><i class="fi-rs-trash"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="cart-action text-end d-flex justify-content-end gap-2">
                        <a class="btn" href="index.asp">Continue Shopping</a>
                        <a class="btn" href="checkout.asp">Prodcced to Checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

