@{
    ViewBag.Title = "Contact";
}
<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="index.asp" rel="nofollow">Home</a>
                <span></span> Contact us
            </div>
        </div>
    </div>
    <section class="section-border pt-50 pb-50">
        <div class="container">
            <div data-aos="zoom-in">
                <div class="row gx-1 g-2 mb-2">
                    <div class="col-md-4 mb-4 mb-md-0">
                        <div class="card p-3 h-100">
                            <h4 class="mb-15 text-brand">Shop Address</h4>
                            <p><i class="fa fa-map" aria-hidden="true"></i> Bhilwara Furniture House Near Sitaram Ji Ki Bawri, Bhilwara,311001- Rajasthan, INDIA</p>
                            <a href="https://maps.app.goo.gl/B4czUWKr7h9gyHvL6" target="_blank" class="text-dark mt-4 w-auto"><i class="fi-rs-marker mr-10"></i>View map <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>

                        </div>
                    </div>
                    <div class="col-md-4 mb-4 mb-md-0">
                        <div class="card p-3 h-100">
                            <h4 class="mb-15 text-brand">Contact Number</h4>
                            <p class="mb-0"><i class="fa fa-phone-square" aria-hidden="true"></i> +91 79769-48872</p>
                            <a href="tel:+91 79769-48872" class="text-dark mt-4 w-auto"><i class="fi-rs-marker mr-10"></i>Call Now <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4 mb-md-0">
                        <div class="card p-3 h-100">
                            <h4 class="mb-15 text-brand">Email Address</h4>
                            <p class="mb-0"><i class="fa fa-envelope" aria-hidden="true"></i> yashj.6628@gmail.com</p>
                            <a href="mailto:yashj.6628@gmail.com" class="text-dark mt-4 w-auto"><i class="fi-rs-marker mr-10"></i>Mail Now <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div data-aos="zoom-in">
                <div class="row gx-1 g-2">
                    <div class="col-lg-5 col-sm-6 order-lg-1 order-2">
                        <div class="card p-2">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3605.69966281912!2d74.63705447524508!3d25.347857325582112!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3968c36f441ad415%3A0x69f62d52129e7901!2sGift%20Choice!5e0!3m2!1sen!2sin!4v1692102483976!5m2!1sen!2sin" height="500" width="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                    <div class="col-lg-7 col-sm-6 order-lg-2 order-1">
                        <div class="card p-2">
                            <div class="contact-from-area padding-20-row-col wow FadeInUp animated">
                                <h3 class="mb-10 text-center">Send a Message</h3>
                                <p class="text-muted mb-30 text-center font-sm">If You Have Any Query &amp; Complain Please Contact With Us</p>
                                <form class="contact-form-style text-center" id="contact-form" action="#" method="post">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <div class="input-style mb-20">
                                                <input name="name" placeholder="Name" id="FirstName" ng-model="FirstName" type="text" required>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="input-style mb-20">
                                                <input name="email" placeholder="Your Email" id="Email" ng-model="Email" type="email" required>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="input-style mb-20">
                                                <input name="telephone" placeholder="Your Phone" id="MobileNo" ng-model="Phone" type="tel" required>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="input-style mb-20">
                                                <input name="subject" placeholder="Subject" id="Subject" ng-model="Subject" type="text" required>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12">
                                            <div class="textarea-style mb-2">
                                                <textarea name="message" placeholder="Message" id="Msg" ng-model="Msg" required></textarea>
                                            </div>
                                            <button class="submit submit-auto-width mb-2" type="submit">Send message</button>
                                        </div>
                                    </div>
                                </form>
                                <p class="form-messege"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<script>
    let loginForm = document.getElementById("contact-form");

        loginForm.addEventListener("submit", (e) => {
            e.preventDefault();

            var username = $("#FirstName").val();
            var mobileno = $("#MobileNo").val();
            var email = $("#Email").val();
            var Subject = $("#Subject").val();

            var Msg = $("#Msg").val();


            debugger
            window.location.href = "https://api.whatsapp.com/send?phone=+917976948872&text=Name: " + username + " Mobile No.:" + mobileno + " Email:" + email + " Subject : " + Subject + " Message" + Msg;
        });
</script>