
@{
    /**/

    ViewBag.Title = "Gift";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<main class="main" ng-init="GetProductByid(@ViewBag.id)">

    <!-- Breadcrumb Section Start -->
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="/Home/Index" rel="nofollow">Home</a>
                <a href="/Home/shop?Main={{Product.Maincate.MTitle}}"> <span>{{Product.Maincate.MTitle}}</span></a>
                <span> {{Product.ProductTitle}}</span>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section End -->


    <section class="mt-30 mb-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="product-detail accordion-detail">

                        <!-- Product Section Start -->
                        <div class="row mb-50">
                            <div class="col-lg-3 col-sm-4 col-12">
                                <div class="detail-gallery">

                                    <!-- Main Image -->

                                    <div class="product-image-slider">
                                        <figure class="border-radius-10" ng-repeat="i in Product.AllProductImage">
                                            <img src="~/images/ProductImg/{{i}}" alt="product image" class="img-fluid" loading="lazy">
                                        </figure>

                                    </div>

                                    <!-- Main Image -->
                                    <!-- Small Image -->

                                    <div class="slider-nav-thumbnails pl-15 pr-15" ng-show="Product.AllProductImage.length>1">
                                        <div ng-repeat="i in Product.AllProductImage" ng-show="i!=null">
                                            <img src="~/images/ProductImg/{{i}}" ng-show="i!=null" class="img-fluid" loading="lazy" alt="product image">
                                        </div>
                                        <div><img src="~/images/ProductImg/{{i}}" ng-show="i!=null" class="img-fluid" loading="lazy" alt="product image"></div>
                                    </div>


                                    <!-- Small Image -->
                                </div>

                            </div>
                            <div class="col-lg-9 col-sm-8 col-xs-12">
                                <div class="detail-info">

                                    @*<span class="badge bg-success mb-2 animate__flash">Same Day Delivery</span>*@
                                    <div class="pro-details-brand mb-2">
                                        <span><a href="/Home/shop?Main={{Product.Maincate.MTitle}}">{{Product.Maincate.MTitle}}</a></span>
                                    </div>
                                    <h2 class="theme-text-size-16 mb-4">{{Product.ProductTitle}}</h2>



                                    <div class="description mb-20">
                                        <p align="justify" class="theme-text-size-13" ng-show="!showFullContent">
                                            {{Product.PDesc | limitTo: 100}}{{Product.PDesc.length > 100 ? '...' : ''}}

                                            <strong ng-click="toggleContent(post)" id="myBtn" class="text-brand cursor">Read more</strong>
                                        </p>
                                        <p align="justify" class="theme-text-size-13" ng-show="showFullContent">
                                            {{Product.PDesc}}

                                            <strong ng-click="toggleContent(post)" id="myBtn" class="text-brand cursor">Read Less</strong>
                                        </p>

                                    </div>
                                    <div id="profile-description">

                                        <div class="description mb-20 text show-more-height">
                                            <p align="justify" id="desc" class="theme-text-size-13">
                                            </p>

                                        </div>
                                    </div>



                                    @*<div data-aos="zoom-in">
                                            <div class="attr-detail attr-size mb-30" ng-show="Product.PSizeList.length>0">
                                                <strong class="mr-10">Size</strong>
                                                <ul class="list-filter size-filter font-small">
                                                    <li ng-repeat="s in Product.PSizeList" style="margin-left:5px;"><a href="#">{{s.SizeTitle}}</a> </li>

                                                </ul>
                                            </div>
                                        </div>*@

                                    @*<div data-aos="zoom-in">
                                            <div class="attr-detail attr-size mb-30" ng-show="Product.productDataArray.length>0">
                                                <strong class="mr-10">Size</strong>
                                                <ul class="list-filter size-filter font-small">
                                                    <li ng-repeat="s in Product.productDataArray" style="margin-left:5px;"><a ng-click="SelectSizePrice(s.ProductSize)">{{s.ProductSize}}</a> </li>

                                                </ul>
                                            </div>
                                        </div>*@

                                    <div class="attr-detail attr-size mb-3" ng-if="Product.productDataArray.length>0">
                                        <strong class="mr-10">Size : </strong>
                                        <select class="form-select form-select-sm w-auto shadow-none theme-button-3 rounded-0 " name="" ng-model="size" id="" ng-change="SelectSizePrice(size)">
                                            <option selected="ture" disabled value="">-- Select Size --</option>
                                            <option class="text-dark" ng-repeat="s in Product.productDataArray" value="{{s.ProductSize}}">{{s.ProductSize}}</option>
                                        </select>

                                    </div>



                                    <div class="detail-extralink">
                                        @*<div class="detail-qty border radius">
                                                <a href="#" class="qty-down"><i class="fi-rs-angle-small-down"></i></a>
                                                <span class="qty-val">1</span>
                                                <a href="#" class="qty-up"><i class="fi-rs-angle-small-up"></i></a>
                                            </div>*@
                                        <div class="d-flex align-items-center gap-3">
                                            <div class="clearfix product-price-cover p-1 mb-2   border-0 mb-0">
                                                <div class="product-price primary-color float-left">
                                                    <ins><span class="text-brand theme-text-size-22"><i class="fa fa-inr" aria-hidden="true"></i>{{Product.Price}}/-</span></ins>
                                                </div>
                                            </div>
                                            <a class="btn theme-button-2" role="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" ng-click="addItemToCart($index)">Add To Cart</a>
                                        </div>
                                        @*<a class="button btn-danger button-add-to-cart filter-button animate__bounceIn" href="#" target="_blank" role="button">See Video</a>*@
                                    </div>








                                    @*<div data-aos="zoom-in">
                                            <div class="social-icons single-share mb-20">
                                                <ul class="text-grey-5 d-inline-block">
                                                    <li><strong class="mr-10">Share this:</strong></li>
                                                    <li class="social-facebook"><a href="#"><img src="assets/imgs/theme/icons/icon-facebook.svg" alt=""></a></li>
                                                    <li class="social-twitter"> <a href="#"><img src="assets/imgs/theme/icons/icon-twitter.svg" alt=""></a></li>
                                                    <li class="social-instagram"><a href="#"><img src="assets/imgs/theme/icons/icon-instagram.svg" alt=""></a></li>
                                                    <li class="social-linkedin"><a href="#"><img src="assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a></li>
                                                </ul>
                                            </div>
                                        </div>*@



                                </div>
                            </div>
                        </div>
                        <!-- Product Section End -->
                        <!-- Related Product Start -->
                        <div class="row mt-60" style="display: none">
                            <div class="col-12">
                                <h3 class="section-title style-1 mb-20 theme-text-size-13">Related Gifts</h3>
                            </div>
                            <div class="row product-grid-4 g-1 gx-1">
                                <div class="col-lg-2 col-6 col-sm-3" ng-repeat="q in ProductData" ng-click="RecentViewData($index)">
                                    <div class="product-cart-wrap">
                                        <div class="product-img-action-wrap">
                                            <div class="product-img">
                                                <a href="/Home/Gift?url={{q.PUrl}}">
                                                    <img class="default-img img-fluid" src="~/images/ProductImg/{{q.ProductImage}}" loading="lazy" alt="product-image">
                                                    <img class="hover-img img-fluid" src="~/images/ProductImg/{{q.ProductImage}}" loading="lazy" alt="product-hover-image">
                                                </a>
                                            </div>
                                            <div class="product-badges product-badges-position product-badges-mrg" ng-show="q.PLabel!=''">
                                                <span class="hot">{{q.PLabel}}</span>
                                            </div>
                                        </div>
                                        <div class="product-content-wrap">
                                            <h2><a href="/Home/Gift?url={{q.PUrl}}">{{q.ProductTitle}}</a></h2>
                                            <div class="product-price">
                                                <span><i class="fa fa-inr" aria-hidden="true"></i> {{q.Price}}/-</span>
                                            </div>
                                            <div class="d-flex justify-content-between">
                                                <div class="button-design mt-2">
                                                    <a aria-label="Add To Cart" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" class="btn theme-button-2" ng-click="addItemToCart($index)"><i class="fi-rs-shopping-bag-add"></i> Add To Cart </a>
                                                </div>
                                                <div class="button-design mt-2">
                                                    <a aria-label="View Image" class="btn theme-button-3" ng-click="quickview(q)"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- Related Product Start -->
                    </div>
                </div>
            </div>
        </div>
    </section>




    @* Related Product Slider Section Start *@
    <section class="section-paddin mb-30">
        <div class="container">
            <h3 class="section-title mb-20 fs-14 mmb-20"><span>Related</span> Products</h3>
            <div class="carausel-6-columns-cover position-relative">
                <div class="slider-arrow slider-arrow-2 carausel-6-columns-arrow" id="carausel-6-columns-2-arrows"></div>
                <div class="carausel-6-columns carausel-arrow-center" id="carausel-6-columns-2">
                    <div class="product-cart-wrap" ng-repeat="q in ProductData" ng-click="RecentViewData($index)">
                        <div class="product-img-action-wrap">
                            <div class="product-img border-0">
                                <a href="/Home/Gift?url={{q.PUrl}}">

                                    <img class="default-img img-fluid" src="~/images/ProductImg/{{q.ProductImage}}" loading="lazy" alt="product-image">
                                    <img class="hover-img img-fluid" src="~/images/ProductImg/{{q.ProductImage}}" loading="lazy" alt="product-hover-image">
                                </a>
                            </div>
                            <div class="product-badges product-badges-position product-badges-mrg" ng-show="q.PLabel!=''">
                                <span class="hot">{{q.PLabel}}</span>
                            </div>
                        </div>
                        <div class="product-content-wrap">
                            <h2><a href="/Home/Gift?url={{q.PUrl}}">{{q.ProductTitle}}</a></h2>

                            <div class="product-price">
                                <span><i class="fa fa-inr" aria-hidden="true"></i> {{q.Price}}/-</span>

                            </div>
                            <div class="d-flex justify-content-between">
                                <div class="button-design mt-2">
                                    <a aria-label="Add To Cart" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" class="btn theme-button-2" ng-click="addItemToCart($index)"><i class="fi-rs-shopping-bag-add"></i> Add To Cart </a>
                                </div>
                                <div class="button-design mt-2">
                                    <a aria-label="View Image" class="btn theme-button-3" ng-click="quickview(q)"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                  
                </div>
            </div>
        </div>
    </section>
    @* Related Product Slider Section End *@



    <!-- Design Banner Start -->
    <section class="p-0 section-padding bg-light" ng-init="GetDesignBanner()">
        <div class="container pt-4 pb-4">
            <div class="row g-1">
                <div class="col-lg-6 col-sm-12 col-12">
                    <div class="row g-1">
                        <div class="col-lg-8 col-sm-8 col-7" ng-show="DesignBannerData[0]">
                            <div data-aos="zoom-in">
                                <div class="image image-1">
                                    <a href="/Home/BannerGifts?Banner={{DesignBannerData[0].MainCateId}}">
                                        <img src="~/images/BannerPTImage/{{DesignBannerData[0].MImage}}" alt="banner-image" class="img-fluid">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-4 col-5" ng-show="DesignBannerData[1]">
                            <div data-aos="zoom-in">
                                <div class="image image-2">
                                    <a href="/Home/BannerGifts?Banner={{DesignBannerData[1].MainCateId}}">
                                        <img src="~/images/BannerPTImage/{{DesignBannerData[1].MImage}}" alt="banner-image" class="img-fluid">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-sm-12 col-12">
                    <div class="row g-1">
                        <div class="col-lg-12 col-sm-12 col-6" ng-show="DesignBannerData[2]">
                            <div data-aos="zoom-in">
                                <div class="image image-3">
                                    <a href="/Home/BannerGifts?Banner={{DesignBannerData[2].MainCateId}}">
                                        <img src="~/images/BannerPTImage/{{DesignBannerData[2].MImage}}" alt="banner-image" class="img-fluid">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-sm-12 col-6" ng-show="DesignBannerData[3]">
                            <div data-aos="zoom-in">
                                <div class="image image-4">
                                    <a href="/Home/BannerGifts?Banner={{DesignBannerData[3].MainCateId}}">
                                        <img src="~/images/BannerPTImage/{{DesignBannerData[3].MImage}}" alt="banner-image" class="img-fluid">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Design Banner End -->

</main>

<!-- Main Section End -->
