<!doctype html>
<html lang="en">


<!-- Mirrored from codervent.com/rocker/demo/horizontal/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 05 Jun 2023 12:41:12 GMT -->
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--favicon-->
    <link rel="icon" href="~/assets/images/favicon-32x32.png" type="image/png" />
    <!--plugins-->
    <link href="~/assets/plugins/vectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet" />
    <link href="~/assets/plugins/simplebar/css/simplebar.css" rel="stylesheet" />
    <link href="~/assets/plugins/fancy-file-uploader/fancy_fileupload.css" rel="stylesheet" />
    <link href="~/assets/plugins/Drag-And-Drop/dist/imageuploadify.min.css" rel="stylesheet" />
    <link href="~/assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet" />
    <!-- loader-->
    @*<link href="~/assets/css/pace.min.css" rel="stylesheet" />
        <script src="~/assets/js/pace.min.js"></script>*@
    <script src="http://cdn.ckeditor.com/4.10.0/standard/ckeditor.js"></script>
    <!-- Bootstrap CSS -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/css/bootstrap-extended.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&amp;display=swap" rel="stylesheet">
    <link href="~/assets/css/app.css" rel="stylesheet">
    <link href="~/assets/css/icons.css" rel="stylesheet">
    <!-- Theme Style CSS -->
    <link href="~/Angularjs/toast-alert/toastr.css" rel="stylesheet" />
    <link href="~/assets/css/custimize_css.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/css/dark-theme.css" />
    <link rel="stylesheet" href="~/assets/css/semi-dark.css" />
    <link rel="stylesheet" href="~/assets/css/header-colors.css" />
    <title>Rocker - Bootstrap 5 Admin Dashboard Template</title>
    <script src="~/Angularjs/angular.min.js"></script>
    <script src="~/Angularjs/angular-upload.js"></script>
    <style>
        a {
            cursor: pointer
        }
    </style>
</head>
<body>
    <!--wrapper-->
    <div class="wrapper">
        <!--start header wrapper-->
        <div class="header-wrapper">
            <!--start header -->
            <header>
                <div class="topbar d-flex align-items-center">
                    <nav class="navbar navbar-expand gap-3">
                        <div class="topbar-logo-header d-none d-lg-flex">
                            <div class="">
                                <img src="~/Content/assets/imgs/resources/gift-choice.png" style="width: 200px" class="logo-icon" alt="logo icon">
                            </div>
                            @*<div class="">
                                    <h4 class="logo-text">Gift Choice</h4>
                                </div>*@
                        </div>
                        <div class="mobile-toggle-menu d-block d-lg-none" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"><i class='bx bx-menu'></i></div>
                        <div class="position-relative search-bar d-lg-block d-none" data-bs-toggle="modal" data-bs-target="#SearchModal">
                            @*<input class="form-control px-5" disabled type="search" placeholder="Search">
                                <span class="position-absolute top-50 search-show ms-3 translate-middle-y start-0 top-50 fs-5"><i class='bx bx-search'></i></span>*@
                        </div>
                        <div class="top-menu ms-auto">

                        </div>
                        <div class="user-box dropdown px-3">
                            <a class="d-flex align-items-center nav-link dropdown-toggle gap-3 dropdown-toggle-nocaret" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="~/images/gift-choice-vertical.png" class="user-img" alt="user avatar">
                                <div class="user-info">
                                    <p class="user-name mb-0">Admin</p>
                                    <p class="designattion mb-0"></p>
                                </div>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">

                                <li>
                                    <a class="dropdown-item d-flex align-items-center" href="javascript:;"><i class="bx bx-log-out-circle"></i><span>Logout</span></a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </header>
            <!--end header -->
            <!--navigation-->
            <div class="primary-menu">
                <nav class="navbar navbar-expand-lg align-items-center">
                    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                        <div class="offcanvas-header border-bottom">
                            <div class="d-flex align-items-center">
                                <div class="">
                                    <img src="~/Content/assets/imgs/resources/gift-choice.png" style="width: 150px" class="logo-icon" alt="logo icon">
                                </div>

                            </div>
                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
                            <ul class="navbar-nav align-items-center flex-grow-1">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="/GiftDashBoard/AddSlider">
                                        <div class="parent-icon">
                                            <i class='bx bx-category-alt'></i>
                                        </div>
                                        <div class="menu-title d-flex align-items-center">Add Silder</div>

                                    </a>

                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="/GiftDashBoard/AddBanner">
                                        <div class="parent-icon">
                                            <i class='bx bx-category-alt'></i>
                                        </div>
                                        <div class="menu-title d-flex align-items-center">Add Banner</div>

                                    </a>

                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="/GiftDashBoard/AddMainCate">
                                        <div class="parent-icon">
                                            <i class='bx bx-category-alt'></i>
                                        </div>
                                        <div class="menu-title d-flex align-items-center">Add Main Category</div>

                                    </a>

                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="/GiftDashBoard/AddKeyword">
                                        <div class="parent-icon">
                                            <i class='bx bx-category-alt'></i>
                                        </div>
                                        <div class="menu-title d-flex align-items-center">Add KeyWords</div>

                                    </a>

                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="/GiftDashBoard/AddProduct">
                                        <div class="parent-icon">
                                            <i class='bx bx-category-alt'></i>
                                        </div>
                                        <div class="menu-title d-flex align-items-center">Add Products</div>

                                    </a>

                                </li>

                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <!--end navigation-->
        </div>
        @RenderBody()

        <!--start overlay-->
        <div class="overlay toggle-icon"></div>
        <!--end overlay-->
        <!--Start Back To Top Button--> <a href="javaScript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
        <!--End Back To Top Button-->
        <footer class="page-footer">
            <p class="mb-0">Copyright © 2023. All right reserved.</p>
        </footer>
    </div>
    <!-- Bootstrap JS -->
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <!--plugins-->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/plugins/simplebar/js/simplebar.min.js"></script>
    <script src="~/assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js"></script>
    @*<script src="~/assets/plugins/vectormap/jquery-jvectormap-2.0.2.min.js"></script>
        <script src="~/assets/plugins/vectormap/jquery-jvectormap-world-mill-en.js"></script>
        <script src="~/assets/plugins/chartjs/js/chart.js"></script>*@
    <script src="~/assets/js/index.js"></script>
    <!--app JS-->
    <script src="~/assets/plugins/fancy-file-uploader/jquery.ui.widget.js"></script>
    <script src="~/assets/plugins/fancy-file-uploader/jquery.fileupload.js"></script>
    <script src="~/assets/plugins/fancy-file-uploader/jquery.iframe-transport.js"></script>
    <script src="~/assets/plugins/fancy-file-uploader/jquery.fancy-fileupload.js"></script>
    <script src="~/assets/plugins/Drag-And-Drop/dist/imageuploadify.min.js"></script>
    <script>
        $('#fancy-file-upload').FancyFileUpload({
            params: {
                action: 'fileuploader'
            },
            maxfilesize: 1000000
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#image-uploadify').imageuploadify();
        })
    </script>
    <script src="~/Angularjs/toast-alert/toastr.js"></script>
    <script src="~/assets/js/app.js"></script>
</body>
</html>
