
@{
    ViewBag.Title = "AddBannerCateProduct";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<style>
    img {
        width: 50px
    }
</style>
<script src="~/Angularjs/Admin.js"></script>
<div class="page-wrapper" ng-app="AdminApp" ng-controller="AdminController">
    <div class="page-content">
        <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
            <div class="breadcrumb-title pe-3">Banner</div>
            <div class="ps-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 p-0">
                        <li class="breadcrumb-item">
                            <a href="javascript:;"><i class="bx bx-home-alt"></i></a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Form</li>
                    </ol>
                </nav>
            </div>

        </div>
        <div class="row">
            <div class="col-xl-4">

                <div class="card">
                    <div class="card-body p-4">

                        <form class="row g-3" enctype="multipart/form-data">
                            <div class="col-md-12">
                                <label for="input1" class="form-label">Select Banner Category</label>

                                <select id="MainCateSelect" class="form-select" ng-init="GetBannerCategoryData()" ng-model="Banner.MainCateId">
                                    <option ng-selected="true" value="-1">Select Banner Category</option>
                                    <option ng-repeat="m in BannerCateData" value="{{m.BannerCateId}}">{{m.BTitle}}</option>
                                </select>


                            </div>



                            <div class="col-md-12">
                                <div class="d-md-flex d-grid align-items-center gap-3">
                                    <button type="button" id="btn" ng-click="SubmitBanner()" class="btn btn-primary px-4">Submit</button>
                                    <button type="button" id="edbtn" ng-click="UpdateBanner()" style="display: none" class="btn btn-primary px-4">Update</button>
                                    <button type="button" class="btn btn-light px-4">Reset</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
            <div class="col-xl-8">
                <div class="card">
                    <div class="card-body">
                        <div class="d-lg-flex align-items-center mb-4 gap-3">
                            <div class="position-relative">
                                <input type="text" class="form-control ps-5 radius-30" ng-model="search" placeholder="Search here...">
                                <span class="position-absolute top-50 product-show translate-middle-y"><i class="bx bx-search"></i></span>
                            </div>
                            @*  <div class="ms-auto"><a href="javascript:;" class="btn btn-primary radius-30 mt-2 mt-lg-0" data-bs-toggle="modal" data-bs-target="#createcompany"><i class="bx bxs-plus-square"></i>Add New Company</a></div>*@





                        </div>
                        <div class="table-responsive">
                            <table class="table mb-0 table-bordered" ng-init="GetAllProduct()">
                                <thead class="table-light">
                                    <tr>
                                        <th>S.No.</th>
                                        <th></th>
                                        <th>Product Title</th>
                                        <th>Main Category Name</th>
                                        <th>Label</th>
                                        <th>Price</th>
                                                                     
                                        <th>Image</th>
                                      

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="m in ProductData | filter:search">
                                        <td>{{$index+1}}</td>
                                        <td><input type="checkbox" /> </td>
                                        <td>{{m.ProductTitle}}</td>
                                        <td>{{m.Maincate}}</td>
                                        <td>{{m.PLabel}}</td>
                                        <td>{{m.Price}}</td>
                                      
                                        <td><span ng-repeat="i in m.ProductImage"><img src="~/images/ProductImg/{{i}}"><br /></span> </td>
                                 
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

