
@{
    /**/

    /**/

    /**/

    ViewBag.Title = "AddBannerInProduct";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<style>
    img {
        width: 50px
    }

    .box1 {
        inline-size: 150px !important;
        overflow-wrap: break-word !important;
    }
</style>
<script src="~/Angularjs/Admin.js"></script>



<div class="page-wrapper" ng-app="AdminApp" ng-controller="AdminController">
    <div class="page-content">
        <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
            <div class="breadcrumb-title pe-3">Banner Product  </div>
            <div class="ps-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 p-0">
                        <li class="breadcrumb-item">
                            <a href="javascript:;"><i class="bx bx-home-alt"></i></a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Form</li>
                    </ol>
                </nav>
            </div>
            <div class="ms-auto">
                <div class="btn-group" ng-show="ProductData!= null">
                    <input type="checkbox" ng-click="duplicateProduct()" ng-model="duplicate" id="duplicate" /> &nbsp;&nbsp;
                    <label for="duplicate">Duplicate</label>
                    @*<button type="button" class="btn btn-primary split-bg-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown">
                            <span class="visually-hidden">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end">
                            <a class="dropdown-item" href="javascript:;">Action</a>
                            <a class="dropdown-item" href="javascript:;">Another action</a>
                            <a class="dropdown-item" href="javascript:;">Something else here</a>
                            <div class="dropdown-divider"></div>	<a class="dropdown-item" href="javascript:;">Separated link</a>
                        </div>*@
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">

                <div class="card">
                    <div class="card-body p-4">

                        <form class="row g-3" enctype="multipart/form-data">
                            <div class="col-md-2">
                                <label for="input1" class="form-label">Select Banner Position</label>
                                <select id="MainCateSelect" class="form-select" onchange="angular.element(this).scope().GetBannerInProduct(this.value)" ng-model="BannerProdcutT.Position">
                                    <option ng-selected="true" value="-1">Select Banner Position</option>
                                    <option value="Small Banner">Small Banner</option>
                                    <option value="Design Banner">Design Banner</option>
                                    <option value="Multiple Banner">Multiple Banner</option>

                                </select>


                            </div>
                            <div class="col-md-3">
                                <label for="input1" class="form-label">Select Banner Title</label>

                                <select id="MainCate" class="form-select" ng-model="Product.BannerCateId" onchange="angular.element(this).scope().GetBannerToQuery(this.value)">
                                    <option ng-selected="true" value="-1">Select Banner Title</option>
                                    <option ng-repeat="m in GetBannerInProductData" value="{{m.MainCateId}}">{{m.MTitle}}</option>
                                </select>


                            </div>
                            @*<div class="col-md-3">
                                    <label for="input1" class="form-label">Select Query</label>

                                    <select id="MainCate" class="form-select" ng-model="Product.QueryId" onchange="angular.element(this).scope().GetSubTitleList(this.value)">
                                        <option ng-selected="true" value="-1">Select Query Title</option>
                                        <option ng-repeat="m in GetBannerToQueryData" value="{{m.QId}}">{{m.Answer}}</option>
                                    </select>


                                </div>*@
                            @*<div class="col-md-3">
                                    <label for="input1" class="form-label">Select KeyWord Title</label>

                                    <select id="MainCate" class="form-select" ng-model="Product.BSubDId" onchange="angular.element(this).scope().GetQueryKeywordlist(this.value)">
                                        <option ng-selected="true" value="-1">Select KeyWord Title</option>
                                        <option ng-repeat="m in GetSubTitleListData" value="{{m.BSubDId}}">{{m.kSubTitle}}</option>

                                    </select>


                                </div>*@
                            <div class="col-md-3">
                                <label for="input1" class="form-label">Product Title</label>
                                <input type="text" id="Producttitle" class="form-control" ng-model="Product.ProductTitle" placeholder="Product Title">
                            </div>
                            <div class="col-md-2">
                                <label for="input1" class="form-label">Label</label>
                                <input type="text" class="form-control" ng-model="Product.PLabel" id="" placeholder="Label">
                            </div>

                            @*<div class="col-md-2">
                                    <label for="input1" class="form-label">Priority</label>
                                    <input type="number" class="form-control" ng-model="Product.Priority" id="" placeholder="Priority">
                                </div>*@

                            <div class="col-md-2">
                                <label for="input1" class="form-label">Price</label>
                                <input type="number" class="form-control" ng-model="Product.Price" id="" placeholder="Price">
                            </div>
                            @*<div class="col-md-2">
                                    <label for="input1" class="form-label">See Video</label>
                                    <input type="text" class="form-control" ng-model="Product.VideoUrl" id="" placeholder="See Video">
                                </div>*@
                            <div class="col-md-2">
                                <label for="input1" class="form-label">See Video</label>
                                <input type="file" id="VideoData" class="form-control" upload-file="Product.VideoData">
                            </div>
                            <div class="col-md-2">
                                <label for="input1" class="form-label">Same Day Available</label>
                                <input type="checkbox" ng-model="Product.SameDay" id="" placeholder="">
                            </div>
                            <div class="col-md-2">
                                <label for="input1" class="form-label">Common</label>
                                <input type="checkbox" ng-model="Product.Common" id="" placeholder="">
                            </div>
                            <div class="col-md-3" ng-init="GetMainCateData()" ng-show="Product.Common">
                                <label for="input1" class="form-label">Select Main Category</label>

                                <select id="MainCate" class="form-select" ng-model="Product.MainCateId" @*onchange="angular.element(this).scope().MainCateKeyword(this.value)"*@>
                                    <option ng-selected="true" value="-1">Select Main Category</option>
                                    <option ng-repeat="m in MainCateData" value="{{m.MainCateId}}">{{m.MTitle}}</option>
                                </select>
                            </div>
                            <div class="col-md-12">
                                <label for="input1" class="form-label">Select Answer</label>
                                <div class="" id="check_box">
                                    <label class="checkbox-wrapper" ng-repeat="m in GetBannerToQueryData">
                                        <input type="checkbox" id="Keyword_{{m.QId}}" class="checkbox-input" value="{{m.QId}}" ng-model="m.Selected" ng-checked="" />
                                        <span class="checkbox-tile">
                                            <span class="checkbox-label">{{m.Answer}}</span>
                                        </span>
                                    </label>

                                </div>
                            </div>
                            @*<div class="col-md-12" ng-init="GetKeywordData()">
                                    <label for="input1" class="form-label">Select Keyword</label>
                                    <div class="" id="check_box">
                                        <label class="checkbox-wrapper" ng-repeat="k in KeywordList">
                                            <input type="checkbox" id="Keyword_{{k.KeywordId}}" class="checkbox-input" value="{{k.KeywordId}}" ng-model="k.Selected" ng-checked="" />
                                            <span class="checkbox-tile">
                                                <span class="checkbox-label">{{k.Keyword}}</span>
                                            </span>
                                        </label>

                                    </div>
                                </div>*@
                            <div ng-init="AddProductDetails()">

                                <div class="row g-3" ng-repeat="a in productDataArray">

                                    <div class="col-md-2" ng-init="GetProductSizeList($index)">
                                        <label for="input1" class="form-label">Size</label>
                                        <select id="P_Size" class="form-select" ng-model="a.SizeId" ng-options="q.SizeId as q.SizeTitle for q in a.SizeList"></select>
                                    </div>



                                    <div class="col-md-2">
                                        <label for="input1" class="form-label">Price</label>
                                        <input type="text" class="form-control" ng-model="a.Price" id="" placeholder="Price" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');">
                                    </div>


                                    <div class="col-md-2">
                                        <div class="d-md-flex d-grid align-items-center gap-3" style="margin-top: 30px">
                                            <button type="button" ng-click="removeproductDataArraydata($index)" class="btn btn-primary px-4 mt-28"><i class="bx bx-trash"></i></button>

                                            <button ng-show="$last" type="button" id="Adbtn" ng-click="AddProductDetails()" class="btn btn-primary px-4 mt-28">Add Detail</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            @*<div class="col-md-12" ng-init="GetSizeData()">
                                    <label for="input1" class="form-label">Select Size</label>
                                    <div class="" id="check_box">
                                        <label class="checkbox-wrapper" ng-repeat="s in SizeList">
                                            <input type="checkbox" id="Size_{{s.SizeId}}" class="checkbox-Size" value="{{s.SizeId}}" ng-model="s.Selected" ng-checked="" />
                                            <span class="checkbox-tile">
                                                <span class="checkbox-label">{{s.SizeTitle}}</span>
                                            </span>
                                        </label>

                                    </div>
                                </div>*@
                            <div class="col-md-12">
                                <label for="input1" class="form-label">Description</label>
                                <textarea id="PDesc" class="form-control" rows="6" cols="4" ng-model="Product.PDesc"></textarea>
                            </div>
                            <div class="col-md-12">
                                <label for="input1" class="form-label">Table Description</label>
                                <textarea class="ckeditor" id="ckeditor"></textarea>
                            </div>
                            @*<script>
                                    $('.editor1').each(function () {
                                        CKEDITOR.replace($(this).prop('id'));
                                    });
                                </script>*@
                            <div class="col-md-2">
                                <label for="input1" class="form-label">Image 1</label>

                                <input type="file" id="image1" class="form-control" upload-file="Product.Image1">
                            </div>

                            <div class="col-md-2">
                                <label for="input1" class="form-label">Image 2</label>
                                <input type="file" class="form-control" upload-file="Product.Image2" id="image2">
                            </div>

                            <div class="col-md-2">
                                <label for="input1" class="form-label">Image 3</label>
                                <input type="file" class="form-control" upload-file="Product.Image3" id="image3">
                            </div>
                            <div class="col-md-2">
                                <label for="input1" class="form-label">Image 4</label>
                                <input type="file" class="form-control" upload-file="Product.Image4" id="image4">
                            </div>
                            <div class="col-md-2">
                                <label for="input1" class="form-label">Image 5</label>
                                <input type="file" class="form-control" upload-file="Product.Image5" id="image5">
                            </div>
                            <div class="col-md-12">
                                <div class="d-md-flex d-grid align-items-center gap-3">
                                    <button type="button" id="btn" ng-click="SubmitBannerProduct()" class="btn btn-primary px-4">Submit</button>
                                    <button type="button" id="edbtn" style="display: none" ng-click="BannerUpdateProductData()" class="btn btn-primary px-4">Update</button>
                                    <button type="button" class="btn btn-light px-4" onClick="refreshPage()">Reset</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-lg-flex align-items-center mb-4 gap-3">
                            @*<div class="position-relative">
                                    <input type="text" class="form-control ps-5 radius-30" ng-model="search" placeholder="Search here...">
                                    <span class="position-absolute top-50 product-show translate-middle-y"><i class="bx bx-search"></i></span>
                                </div>*@
                            @*  <div class="ms-auto"><a href="javascript:;" class="btn btn-primary radius-30 mt-2 mt-lg-0" data-bs-toggle="modal" data-bs-target="#createcompany"><i class="bx bxs-plus-square"></i>Add New Company</a></div>*@

                            <div class="col-md-3" ng-init="GetBannerInProductFilter()">
                                <label for="input1" class="form-label">Select Banner Title</label>

                                <select id="MainCate" class="form-select" onchange="angular.element(this).scope().GetBannerProduct(this.value)">
                                    <option ng-selected="true" value="-1">Select Banner Title</option>
                                    <option value="-2">All Product</option>
                                    <option ng-repeat="m in GetBannerInProductFilterData" value="{{m.MainCateId}}">{{m.MTitle}}</option>
                                </select>


                            </div>



                        </div>
                        <div class="table-responsive" ng-show="ProductData.length>0">
                            <table class="table mb-0 table-bordered">
                                <thead class="table-light">
                                    <tr>
                                        <th>S.No.</th>
                                        <th class="box1">Product Title</th>
                                        <th class="box1">Main Category Name</th>

                                        <th class="box1">Banner Title</th>
                                        <th>Label</th>
                                        <th>See Video</th>
                                        <th>Same Day</th>

                                        <th>Price</th>
                                        @*<th>Priority</th>*@
                                        <th>Keywords</th>

                                        <th>Size With Price</th>
                                        <th>Image</th>
                                        <th>Active</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="m in ProductData">
                                        <td>{{$index+1}}</td>
                                        <td style="white-space:normal" class="box1">{{m.ProductTitle}}</td>
                                        <td style="white-space:normal" class="box1">{{m.Maincate.MTitle}}</td>
                                        <td style="white-space:normal" class="box1">{{m.Bannercate.MTitle}}</td>

                                        <td>{{m.PLabel}}</td>
                                        <td style="white-space:normal" class="box1">{{m.VideoUrl}}</td>
                                        <td>
                                            <span class="badge {{m.SameDay==1? 'bg-success' : 'bg-danger'}}">{{m.SameDay==1?'open':'Close'}}</span></a>
                                        </td>

                                        <td>{{m.Price}}</td>
                                        @*<td>{{m.Priority}}</td>*@
                                        <td><span ng-repeat="n in m.Submenu">{{n.SubmenuTitle}},<br /></span></td>
                                        <td>
                                            <table class="table table-bordered">
                                                <tr>
                                                    <td>Price</td>
                                                    <td>Size</td>

                                                </tr>
                                                <tr ng-repeat="a in m.productDataArray">
                                                    <td>{{a.Price}}</td>
                                                    <td>{{a.ProductSize}}</td>

                                                </tr>

                                                @*<span ng-repeat="n in m.PSizeList">
                                                        {{n.SizeTitle}},<br />

                                                    </span>*@
                                            </table>
                                        </td>
                                        <td><span ng-repeat="i in m.ProductImage"><img src="~/images/ProductImg/{{i}}"><br /></span> </td>
                                        <td><a ng-click="BannerProductActiveDeActive(m.ProductId)"> <span class="badge {{m.Active==1? 'bg-success' : 'bg-danger'}}">{{m.Active==1?'Active':'Deactive'}}</span></a> </td>
                                        <td><a><i class="bx bxs-pencil" ng-click="GetBannerProductbyid($index)"></i></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/assets/ckeditor/ckeditor.js"></script>