
@{
    ViewBag.Title = "AddQueryKeyword";
    Layout = "~/Views/Shared/_Admin.cshtml";
}


<style>
    img {
        width: 50px
    }
</style>
<script src="~/Angularjs/Admin.js"></script>
<div class="page-wrapper" ng-app="AdminApp" ng-controller="AdminController">
    <div class="page-content">
        <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
            <div class="breadcrumb-title pe-3">Banner</div>
            <div class="ps-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 p-0">
                        <li class="breadcrumb-item">
                            <a href="javascript:;"><i class="bx bx-home-alt"></i></a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Query Keyword Form</li>
                    </ol>
                </nav>
            </div>

        </div>
        <div class="row">
            <div class="col-xl-4">

                <div class="card">
                    <div class="card-body p-4">

                        <form class="row g-3" enctype="multipart/form-data">
                            <div class="col-md-12">
                                <label for="input1" class="form-label">Select Banner Position</label>
                                <select id="MainCateSelect" class="form-select" onchange="angular.element(this).scope().GetBannerInProduct(this.value)" ng-model="BSubTitleTbl.Position">
                                    <option ng-selected="true" value="-1">Select Banner Position</option>
                                    <option value="Small Banner">Small Banner</option>
                                    <option value="Design Banner">Design Banner</option>
                                    <option value="Multiple Banner">Multiple Banner</option>

                                </select>


                            </div>
                            <div class="col-md-12">
                                <label for="input1" class="form-label">Select Banner Title</label>

                                <select id="MainCate" class="form-select" ng-model="BSubTitleTbl.MainCateId" onchange="angular.element(this).scope().GetBannerToQuery(this.value)">
                                    <option ng-selected="true" value="-1">Select Banner Title</option>
                                    <option ng-repeat="m in GetBannerInProductData" value="{{m.MainCateId}}">{{m.MTitle}}</option>
                                </select>


                            </div>
                            <div class="col-md-12">
                                <label for="input1" class="form-label">Select Answer</label>

                                <select id="MainCate" class="form-select" ng-model="BSubTitleTbl.QueryId" onchange="angular.element(this).scope().GetQueryToKeyword(this.value)">
                                    <option ng-selected="true" value="-1">Select Ask Question</option>
                                    <option ng-repeat="m in GetBannerToQueryData" value="{{m.QId}}">{{m.Answer}}</option>
                                </select>


                            </div>
                            <div class="col-md-12">
                                <label for="input1" class="form-label">Add Keyword Title</label>
                                <select id="MainCate" class="form-select" ng-model="BSubTitleTbl.BSubId" onchange="angular.element(this).scope().GetKeywordToAskQuestion(this.value)">
                                    <option ng-selected="true" value="-1">Select Ask Question</option>
                                    <option ng-repeat="m in GetQueryToKeywordData" value="{{m.BSubId}}">{{m.KeywordTitle}}</option>
                                </select>
                                @*<input type="text" class="form-control" ng-model="BSubTitleTbl.KeywordTitle" id="KeywordTitle" placeholder="Enter Keyword Title">*@
                            </div>
                            <div class="col-md-12">
                                <label for="input1" class="form-label">Ask Question ?</label>
                                @*<select id="MainCate" class="form-select" ng-model="BSubTitleTbl.QueryId">
                                        <option ng-selected="true" value="-1">Select Ask Question</option>
                                        <option ng-repeat="m in GetBannerToQueryData" value="{{m.QId}}">{{m.Answer}}</option>
                                    </select>*@
                                <input type="text" class="form-control" ng-model="GetKeywordToAskQuestionData.AskQues2" id="AskQues2" placeholder="Enter Ask Question ?" disabled>
                            </div>
                            <div class="col-md-12">

                                <label for="input1" class="form-label">Answer</label>
                                <input type="text" class="form-control" ng-model="BSubTitleTbl.kSubTitle" id="Answer" placeholder="Answer">
                            </div>
                            @*<div class="col-md-12" ng-repeat="m in SubTitleArr">
                                    <div class="row">
                                        <div class="col-md-10">

                                            <label for="input1" class="form-label">Add Answer</label>
                                            <input type="text" class="form-control" ng-model="m.SubTitle" id="Answer" placeholder="Answer">
                                        </div>
                                        <div class="col-md-2">

                                            <i class="bx bxs-trash" style="font-size: 20px; margin-top: 32px" ng-click="SubTitleRemove($index)"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <button type="button" id="btn" ng-click="AddMoreSubTitle()" class="btn btn-primary px-4">Add Sub Title</button>

                                </div>*@
                            @*<div class="col-md-12">
                                    <label for="input1" class="form-label">Priority</label>
                                    <input type="number" class="form-control" ng-model="BSubTitleTbl.Priority" id="Priority" placeholder="Priority">
                                </div>*@

                            <div class="col-md-12" ng-init="GetKeywordData()">
                                <label for="input1" class="form-label">Select Keyword</label>

                                <div class="" id="check_box">
                                    <label class="checkbox-wrapper" ng-repeat="k in KeywordList">
                                        <input type="checkbox" id="Keyword_{{k.KeywordId}}" class="checkbox-input" value="{{k.KeywordId}}" ng-model="k.Selected" ng-checked="" />
                                        <span class="checkbox-tile">
                                            <span class="checkbox-label">{{k.Keyword}}</span>
                                        </span>
                                    </label>


                                </div>
                            </div>


                            <div class="col-md-12">
                                <div class="d-md-flex d-grid align-items-center gap-3">
                                    <button type="button" id="btn" ng-click="SubmitQueryAnswerKeyword()" class="btn btn-primary px-4">Submit</button>
                                    <button type="button" id="edbtn" ng-click="UpdateQueryAnswerKeyword()" style="display: none" class="btn btn-primary px-4">Update</button>
                                    <button type="button" class="btn btn-light px-4" onClick="refreshPage()">Reset</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
            <div class="col-xl-8">
                <div class="card">
                    <div class="card-body">
                        <div class="d-lg-flex align-items-center mb-4 gap-3">
                            @*<div class="position-relative">
                                    <input type="text" class="form-control ps-5 radius-30" ng-model="search" placeholder="Search here...">
                                    <span class="position-absolute top-50 product-show translate-middle-y"><i class="bx bx-search"></i></span>
                                </div>*@
                            @*  <div class="ms-auto"><a href="javascript:;" class="btn btn-primary radius-30 mt-2 mt-lg-0" data-bs-toggle="modal" data-bs-target="#createcompany"><i class="bx bxs-plus-square"></i>Add New Company</a></div>*@





                        </div>
                        <div class="table-responsive">
                            <table class="table mb-0 table-bordered" ng-init="GetQueryAnswerKeyword()">
                                <thead class="table-light">
                                    <tr>
                                        <th>S.No.</th>
                                        <th>Banner Title</th>
                                        <th>1st Ask Question ?</th>
                                        <th>Answer</th>

                                        <th>Keyword Title</th>
                                        <th>2nd Ask Question ?</th>
                                        <th>Answer</th>
                                        @*<th>Position</th>*@
                                        <th>KeyWord</th>
                                        @*<th>Priority</th>*@
                                        @*<th>Image</th>*@
                                        @*<th>Active</th>*@
                                        @*<th>Action</th>*@
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="m in GetQueryAnswerKeywordData">
                                        <td>{{$index+1}}</td>
                                        <td>{{m.bMainTitle.MTitle}}</td>
                                        <td>{{m.QueryTitle1.AskQues1}}</td>
                                        <td>{{m.QueryTitle1.Answer}}</td>

                                        <td>{{m.QueryTitle.KeywordTitle}}</td>
                                        <td>{{m.QueryTitle.AskQues2}}</td>
                                        <td>{{m.kSubTitle}}</td>
                                        @*<td>Answer</td>*@
                                        @*<td>{{m.SubTitle}}</td>*@
                                        @*<td>{{m.Position}}</td>*@
                                        <td style="white-space: normal"><span ng-repeat="n in m.KeywordList">{{n.SubmenuTitle}},</span></td>
                                        @*<td>{{m.Priority}}</td>*@
                                        @*<td><img src="~/images/BannerPTImage/{{m.MImage}}"></td>*@
                                        @*<td><a ng-click="BannerSubTitleActiveDeActive(m.BSubId)"> <span class="badge {{m.Active==1? 'bg-success' : 'bg-danger'}}">{{m.Active==1?'Active':'Deactive'}}</span></a> </td>*@
                                        @*<td><a><i class="bx bxs-pencil" ng-click="GetBannerSubCateTitleById($index)"></i></a></td>*@
                                    </tr>


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

